<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner" android:targetPackage="com.lukesteuber.signalstation" />
    <instrumentation android:name="com.lukesteuber.signalstation.LocalModelProbeRunner" android:targetPackage="com.lukesteuber.signalstation" android:label="Private local model check" />
</manifest>
